<!DOCTYPE html>
<html ng-app="myapp">
<head>
<meta charset="utf-8" />
<title>综合练习_首页</title>
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/app.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<script src="js/angular.min.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controller.js"></script>
<script>
        angular.module('myapp',['ngRoute'])
		    .controller("mc1", function ($scope) {
		    	$scope.arr1=['首页','简介','信息','操作'];
		    	$scope.arr2=['设置栏目','更多设置','分割线'];

		        $scope.fans = [
		            { id:1, name: "小王", career: "设计师，博客"},
		            { id:2, name: "张琳", career: "作家，杂志编辑"},
		            { id:3, name: "李小明", career: "艺术总监，电影剪辑"},
		            { id:4, name: "赵大城", career: "音乐家，运动员"}
		        ];

		  	 })
		    //显示更多
		    .controller('main', function ($scope){
		        $scope.show=false;
		    })
		    .directive('showmore', function (){
		        return {
		            restrict: 'E',
		            template:'<div class="{{show?\'more2\':\'more\'}}">' +
		             '<span ng-transclude></span></div>'+
		            '<a href="javascript:;" ng-click="show=!show">显示更多</a>',
		            transclude: true
		        };
		    })
		    //路由
            .config(['$routeProvider', function($provider1){
                $provider1
                    .when('/a',{templateUrl:'view/note.html'})
                    .when('/b',{templateUrl:'view/info.html'})
                    .otherwise({redirectTo:'/'});
            }]);
</script>
</head>
<body>
<div>
	<div class="navbar-fixed-top ys2">
		<div class="row">
			<div class="toper col-md-2 column bg cen">
				<img src="images/logo.png"><span>我的APP</span3></span>
			</div>
			<div class="toper col-md-10 column bg2">
				<div class="pull-left ys5">
					<a href="#"><span class="glyphicon glyphicon-list"></span></a>
					<a href="#"><span class="glyphicon glyphicon-user"></span></a>
				</div>
				<div class="pull-left toper_m">
					<a href="#"><b>我的文章</b></a>
					<a href="#"><b>最新动态</b></a>
				</div>
				<div class="pull-right toper_m">
					<a href="#"><span class="glyphicon glyphicon-bell"></span></a>
					<a href="#">别无所求</a>
					<a href="#"><img src="images/a0.jpg" class="img-circle tou"></a>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div class="container-fluid down">
	<div class="row">
		<!--左栏-->
		<div class="col-md-2 column bg ys2">
			<!--头像-->
			<div class="cen">
				<img src="images/a0.jpg" class="img-circle">
				<h5>别无所求</h5><h6>IT大牛</h6>
			</div>
			<!--导航栏-->
			<ul class="nav" ng-controller="mc1">
				<li class="ys1"> </li>
				<li class="ys1"><a href="#"><span class="glyphicon glyphicon-home"></span> {{arr1[0]}}</a></li>
				<li class="ys1"><a href="#"><span class="glyphicon glyphicon-file"></span> {{arr1[1]}}</a></li>
				<li class="ys1"><a href="#"><span class="glyphicon glyphicon-envelope"></span> {{arr1[2]}}</a></li>
				<li class="ys1"><a href="#"><span class="glyphicon glyphicon-cog"></span> {{arr1[3]}}</a>
					<ul class="nav">
						<li ng-repeat="x in arr2"><a href="#">{{x}}</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col-md-10 column ys4">
			<div class="row">
				<!--中栏-->
				<div class="col-md-10 column ys3 h" style="padding:0px;margin:0px;">
					<!--中栏顶部-->
					<div class="m_toper">
						 <div class="m1">
							  <div class="row">
								<div class="col-sm-7">
								  <a href="" class="pull-left">
									<img src="images/a0.jpg" class="img-circle">
								  </a>
								  <div class="m2">
									<div>别无所求 <small> 石家庄，河北</small></div>
									<a href="" class="btn btn-sm btn-success btn-rounded">支持她！</a>
								  </div>
								</div>
								<div class="col-sm-5">
								  <div class="pull-right text-center zan">
									<a href="">
									  <span class="h3">2k </span>
									  <small> 点赞 </small>
									</a> ,
									<a href="">
									  <span class="h3"> 250 </span>
									  <small> 粉丝</small>
									</a>
								  </div>
								</div>
							  </div>
						 </div>
					</div>
					<!--中栏底部-->
					<div class="m_nav">
						<ul>
							<li><a href="#" class="btn btn-success btn-group-sm">最新动态</a></li>
							<li><a href="#/a" class="btn btn-success btn-group-sm">简介</a></li>
							<li><a href="#/b" class="btn btn-success btn-group-sm">消息</a></li>
						</ul>
					</div>
					<div ng-view></div>
					<div class="m_bottom">
						<div class="padder">      
							<div class="streamline b-l b-info m-l-lg m-b padder-v">
							  <div>
								<a class="pull-left thumb-sm avatar m-l-n-md">
								  <img src="images/a9.jpg" class="img-circle" alt="...">
								</a>
								<div class="m-l-lg">
								  <div class="m-b-xs">
									<a href="" class="h4">小鱼儿</a>
									<span class="text-muted m-l-sm pull-right">
									  现在
									</span>
								  </div>
								  <div class="m-b">
									<showmore>
									不哭不闹不炫耀，安安分分一起老。不骂不吵不张扬，安安分分一起过。就算逃到天涯海角，也决不回头。就算哭到世界灭亡，也决不后悔。我想依靠你 永远在我旁边带路。我想牵着你 永远只会为你带路。偶尔有点小任性，为了等待你安抚。偶尔有点小情绪，为了引起你注意。所有的一切、都不是什么誓言。所谓的一切、到头来都是欺骗。
									蓦然、心锁的钥匙新了不实用了。蓦然、心锁的钥匙旧了可以换了。
									不哭不闹不炫耀，安安分分一起老。不骂不吵不张扬，安安分分一起过。就算逃到天涯海角，也决不回头。就算哭到世界灭亡，也决不后悔。我想依靠你 永远在我旁边带路。我想牵着你 永远只会为你带路。偶尔有点小任性，为了等待你安抚。偶尔有点小情绪，为了引起你注意。所有的一切、都不是什么誓言。所谓的一切、到头来都是欺骗。
									蓦然、心锁的钥匙新了不实用了。蓦然、心锁的钥匙旧了可以换了。
									</showmore>
									<div class="m-t-sm">
									  <a href="" class="text-muted m-xs"><i class="icon-action-redo"></i></a>
									  <a href="" class="text-muted m-xs"><i class="icon-star"></i></a>
									  <a href="" class="text-muted m-xs"><i class="icon-refresh"></i> 13</a>
									</div>
								  </div>
								</div>
							  </div>
							  <!-- .comment-reply -->
							  <div class="m-l-lg">
								<a class="pull-left thumb-sm avatar">
								  <img src="images/a5.jpg" alt="...">
								</a>          
								<div class="m-l-xxl panel b-a">
								  <div class="panel-heading pos-rlt">
									<span class="arrow left pull-up"></span>
									<span class="text-muted m-l-sm pull-right">
									  10m ago
									</span>
									<a href="">大张李</a>
									希望你能每天都快乐                         
								  </div>
								</div>
							  </div>
							  <!-- / .comment-reply -->
							  <div>
								<a class="pull-left thumb-sm avatar m-l-n-md">
								  <img src="images/a3.jpg" alt="...">
								</a>          
								<div class="m-l-lg m-b-lg panel b-a bg-light lt">
								  <div class="panel-heading pos-rlt b-light">
									<span class="arrow arrow-light left"></span>                    
									<a href="">我是黄小明</a>
									<span class="text-muted m-l-sm pull-right">
									  1h ago
									</span>
								  </div>
								  <div class="panel-body">
									<div>我只是从这里路过......</div>
								  </div>
								</div>
							  </div>
							  <div>
								<a class="pull-left thumb-sm avatar m-l-n-md">
								  <img src="images/a6.jpg" class="img-circle" alt="...">
								</a>
								<div class="m-l-lg m-b-lg">
								  <div class="m-b-xs">
									<a href="" class="h4">帕金森</a>
									<span class="text-muted m-l-sm pull-right">
									  3h ago
									</span>
								  </div>
								  <div class="m-b">
									<div class="m-b">
									日动影移，日穿帘隙，时间悄无声息地离去。不知不觉，那么多渐行渐远的岁月，如今只剩下依稀的背影，翻过岁月的篱墙，面对那些悄然散场的旧时光，莞尔一笑，只言感恩岁月，不诉岁月离殇。
									</div>
									<img src="images/c5.jpg" class="b b-a wrapper-xs bg-white img-responsive">
									<div class="m-t-sm">
									  <a href="" class="text-muted m-xs"><i class="icon-action-redo"></i></a>
									  <a href="" class="text-muted m-xs"><i class="icon-star"></i></a>
									  <a href="" class="text-muted m-xs"><i class="icon-refresh"></i> 13</a>
									</div>
								  </div>
								</div>
							  </div>
							  <div>
								<a class="pull-left thumb-sm avatar m-l-n-md">
								  <img src="images/a4.jpg" class="img-circle" alt="...">
								</a>
								<div class="m-l-lg m-b-lg">
								  <div class="m-b-xs">
									<a href="" class="h4">请叫我大帅柯</a>
									<span class="text-muted m-l-sm pull-right">
									  4h ago
									</span>
								  </div>
								  <div>
									<div class="m-b">
									这世界上的很多事，有时候和我们眼睛看到的不一样。很多时候要我们慢慢地体会才会知道。我们不能急着看结果，就像种下一棵小花，你要耐心地等它破土发芽，慢慢长大，才能看到它开出美丽的花。尘世间的事也一样，要在时间里发酵，岁月里沉香，人生那些百思不得其解的事情，到后来时间会一一给你答案。岁月有时候特别用心良苦，它时常会给你很多磨难，其实它是想让你变得更好。
									</div>
									<div class="panel panel-default m-t-md m-b-n-sm pos-rlt">
										<p style="border-bottom:1px solid #EEE">&nbsp;&nbsp; {{comment}}</p>
									  <form>
										<textarea class="form-control no-border" rows="3" placeholder="Your comment..." ng-model="comment"></textarea>
									  </form>
									  <div class="panel-footer bg-light lter">
										<button class="btn btn-info pull-right btn-sm">评论</button>
										<ul class="nav nav-pills nav-sm">
										  <li><a href=""><i class="fa fa-camera text-muted"></i></a></li>
										  <li><a href=""><i class="fa fa-video-camera text-muted"></i></a></li>
										</ul>
									  </div>
									</div>
								  </div>
								</div>
							  </div>
							  <div>
								<a class="pull-left thumb-sm avatar m-l-n-md">
								  <img src="images/a2.jpg" alt="...">
								</a>          
								<div class="m-l-lg panel b-a">
								  <div class="panel-heading pos-rlt b-b b-light">
									<span class="arrow left"></span>
									<a href="">月亮的影子</a>
									<label class="label bg-light m-l-xs">VIP</label> 
									<span class="text-muted m-l-sm pull-right">
									  9h ago
									</span>
								  </div>
								  <div class="panel-body">
									<blockquote>
									  <p>孩子的时候，我们简单地把人划分为好人或坏人。只是后来长大了，知道了，好人没有你想象的那么好，坏人也没有你想象的那么坏。正如，外表坚强的人，也许内心很脆弱，而外表柔弱的人，却有着一颗强韧的心。</p>
									  <small>穿起越云层的时间 <cite title="Source Title">源标题</cite></small>
									</blockquote>
									<div>穿起越云层的时间</div>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
					</div>
					<div class="clear wrapper b-t bg-light ">
				  <span class="pull-right">版本v1.0.0 <a href="#app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
				  Copyright © 2017 .版权所有：所谓伊人
				</div>
				</div>
				<!--右栏-->
				<div class="col-md-2 column ys4 h text-center" style="padding:0px;margin:0px;">
					<h4>我的粉丝</h4>
				  	<ul ng-controller="mc1">
						<li ng-repeat="x in fans | orderBy:'-id'">
							<a herf=""><img src="images/a{{x.id}}.jpg" class="img-circle"></a>
							<div>
							  <div><a href="">{{x.name}}</a></div>
							  {{x.career}}
							 </div>
						</li> 
				  	</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
